.scroll-to-top {
    position: fixed;
    bottom: 14px;
    right: 9px;
    z-index: 1000;
  }
  
  .scroll-button {
    background-color: #07d2de; /* Your primary color */
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .scroll-button:hover {
    background-color: #07d2de; /* Darker shade of your primary color */
  }
  
  .scroll-button:focus {
    outline: none;
  }
  